* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	box-sizing: border-box;

}

:root{
	--dark-color: rgb(44, 51, 51);
	--medium-color: rgb(46, 79, 79);
	--light-color:rgb(14, 131, 136);
	--extra-light-color: rgba(253,187,45,1);
}

body {
	
	 background: linear-gradient(0deg, rgb(240, 255, 255) 0%, rgb(255, 244, 220) 100%);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	min-height: 100vh;
}

.navbar {
	background-color: var(--dark-color);
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.app-name {
	color: rgb(234, 246, 247);
	font-size: 1.5em;
	letter-spacing: 2px;
	font-style: italic;
}

.link-home {
	color: var(--extra-light-color);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	margin-left: auto;
}

.form-container {
	margin: 20px auto 20px auto;
	width: 500px;
	height: 35px;
}

.input-text {
	width:75%;
	display: inline-block;
	border-radius:5px;
	height: 35px;
	border: 2px solid var(--medium-color); 
	outline: 1px solid gray;
}

.submit-btn {
	width: 100px;
	padding: 6px;
	display: inline-block;
	border-radius:5px;
	height: 35px;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	outline: none;
	box-sizing: border-box;
	margin-left: 2px;
	border: 2px solid var(--medium-color); 
	transition: all 0.2s ease-in-out;
	background-color: var(--medium-color);
	color: white
}

.submit-btn:hover, 
.input-text:hover {
	cursor: pointer;
}

.submit-btn:hover{
	font-size: 0.8;
	background-color: white;
	color: var(--medium-color)
}

.container-card {
	margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    width: 260px;
    background-color: rgba(170, 198, 199, 0.4);
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
}

.card-img {
 	width: 100%;
    height: 250px;
}

.card-body {
	display: grid;
	grid-template-columns: 1fr;
	align-items: stretch;
    padding: 5px 15px 15px 15px;
    height: 187px;
}

.card-text {
	font-size: 0.8em;
	align-self: start;
}

.card-link {
	display: block;
	color: rgb(46, 79, 79);
	text-decoration: none;
	justify-self: end;
	align-self: end;
	animation: blink 1.8s linear infinite;

}

.loading-container, 
.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.loading-container h2 {
	color: var(--dark-color);
	font-size: 1.2em;
	animation: animate 1s ease-in-out infinite;
	letter-spacing: 5px;
}

.error-container h2 {
	color: red;
	font-size: 1.2em;
}

@keyframes animate {
            0% {
                transform: translateY(0px);
            }

            20% {
                transform: translateY(-20px);
            }

            40%,
            100% {
                transform: translateY(0px);
        }
}

@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
	}