* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	box-sizing: border-box;

}

:root{
	--dark-color: rgb(44, 51, 51);
	--medium-color: rgb(46, 79, 79);
	--light-color:rgb(189, 212, 212);
	--extra-light-color: rgb(234, 246, 247);;
}

body {
	
	background: linear-gradient(0deg, rgb(240, 255, 255) 0%, rgb(255, 244, 220) 100%);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	min-height: 100vh;
}

.navbar {
	background-color: var(--dark-color);
	width: 100%;
	padding: 10px;
}

.app-name {
	color: var(--extra-light-color);
	font-size: 1.5em;
	letter-spacing: 2px;
	font-style: italic;
	text-decoration: none;
	font-weight: bold;
}

.form-container {
	margin: 20px auto 20px auto;
	width: 500px;
	height: 35px;
}

input {
	position: relative;
	display: inline-block;
	font-size: 20px;
	transition: 0.5s;
}
.input-text {
	width:65%;
	display: inline-block;
	height: 35px;
	border: none; 
	outline: none;
	border-radius: 25px 0 0 25px;
	background-color: rgb(218, 218, 218);
}

.submit-btn {
	position: relative;
	top: -3px;
	width: 150px;
	border-radius: 0 25px 25px 0;
	height: 35px;
	font-size: 0.8em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	border: none;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
	background-color: var(--medium-color);
	color: white
}

input {
	cursor: pointer;
}

.submit-btn:hover{
	font-size: 0.8;
	background-color: var(--dark-color);
	color: var(--extra-light-color)
}

.container-card {
	margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    width: 260px;
    background-color: var(--medium-color);
	color: aliceblue;
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
}

.card:hover {
	box-shadow: 0 8px 10px rgba(0,0,0,0.5);
}

.card-text{
	color: rgba(182, 182, 182, 0.9);
}

.card-img {
 	width: 100%;
    height: 250px;
}

.card-body {
	display: grid;
	grid-template-columns: 1fr;
	align-items: stretch;
    padding: 5px 15px 15px 15px;
    height: 187px;
}

.card-text {
	font-size: 0.8em;
	align-self: start;
}

.card-link {
	display: block;
	color: var(--extra-light-color);
	text-decoration: none;
	justify-self: end;
	align-self: end;
	animation: blink 1.8s linear infinite;
}

.loading-container, 
.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.loading-container h2 {
	color: var(--dark-color);
	font-size: 1.2em;
	animation: animate 1s ease-in-out infinite;
	letter-spacing: 5px;
}

.error-container h2 {
	color: red;
	font-size: 1.2em;
}

@keyframes animate {
            0% {
                transform: translateY(0px);
            }

            20% {
                transform: translateY(-20px);
            }

            40%,
            100% {
                transform: translateY(0px);
        }
}

@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
	}